## ETL Run Notebook  - Run scripts & Test w/ sql queries

### Run create_table.py to see if tables can be created property

- Make sure you open a RedShift cluster and make it publicly accessible

In [8]:
 pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import psycopg2 

try:
    %run create_table.py 
except Exception as e:
    print(e)

CREATE TABLE IF NOT EXISTS surfacetemp(
        surfacetemp_id int PRIMARY KEY NOT NULL,
        year int,
        month int,
        country varchar,
        avg_temperature FLOAT,
        avg_temperature_uncertainty FLOAT
        );

CREATE TABLE IF NOT EXISTS co2emssion(
        co2emission_id int PRIMARY KEY NOT NULL,
        country varchar,
        code varchar(3),
        year int,
        co2emission BIGINT
                );

CREATE TABLE IF NOT EXISTS population(
        population_id int PRIMARY KEY NOT NULL,
        country varchar,
        year int,
        population int
        );

CREATE TABLE IF NOT EXISTS naturaldisaster_info(
        naturaldisaster_id int PRIMARY KEY NOT NULL,
        year int,
        country varchar,
        region varchar,
        location varchar,
        seq int,
        glide varchar,
        gisaster_group varchar,
        gisaster_subgroup varchar,
        diaster_type varchar,
        disaster_subtype varchar,
        disaster_subsubtype varchar,
        event_name varchar,
        geo_locations varchar,
        latitude FLOAT,
        longitude FLOAT );

CREATE TABLE IF NOT EXISTS naturaldisaster_damage(
        naturaldisaster_id int PRIMARY KEY NOT NULL,
        year int,
        country varchar,
        event_name varchar,
        total_deaths FLOAT,
        no_injured FLOAT,
        no_affectED FLOAT,
        no_homeless FLOAT,
        total_affected FLOAT,
        insured_damages FLOAT,
        total_damages FLOAT,
        cpi FLOAT,
        aid_contribution FLOAT,
        OFDA_response varchar);

In [2]:
try:
    %run etl.py 
except Exception as e:
    print(e)

InternalError_: Cannot COPY into nonexistent table surfacetemp_stage

#### Test tables with some Queries